#tag-list-root span
{
    &
    {
        background-color: var(--background-color) !important;
    }

    &.checked
    {
        background-color: var(--accent-color) !important;
    }

    &.negate
    {
        background-color: var(--cancel-color) !important;
    }

    &:hover
    {
        background-color: var(--highlight-color) !important;
    }
}