my-collection
{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "search" "list";
    width: 100%;
    height: 100%;
    gap: 0.25em;

    > .title
    {
        grid-area: title;
        padding: 0.5em;
        background-color: var(--page-background-color);
        text-align: center;
    }

    > my-search
    {
        grid-area: search;
    }

    > my-list
    {
        grid-area: list;
    }
}