my-file-tile
{
    aspect-ratio: 1;
    width: 6em;
    padding: 0.5em;
    border-radius: 0.25em;
    background: var(--background-masonry);
    cursor: pointer;

    > img
    {
        width: 100%;
        height: 100%;
    }

    > .check
    {
        visibility: hidden;
        position: absolute;
        top: -0.5em;
        right: -0.25em;
        width: 2em;
        height: 2em;
        color: var(--foreground-color);
    }

    &:hover
    {
        background: var(--highlight-background-masonry);

        > .check
        {
            color: var(--foreground-color);
        }
    }

    &.selected
    {
        background: var(--accent-color);

        > .check
        {
            visibility: visible;
        }
    }
}