my-search
{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr auto auto;
    padding: 0.25em;
    gap: 0.125em;
    border-radius: var(--corner-radius);
    background-color: var(--foreground-color);
    color: var(--inverted-foreground-color);

    .search-text-input
    {
        grid-row: 1;
        grid-column: 1;
        margin-left: -0.25em;
    }

    .search-clear-button
    {
        grid-row: 1;
        grid-column: 2;
    }

    .search-go-button
    {
        grid-row: 1;
        grid-column: 3;
    }

    .common-tags-input
    {
        display: flex;
        grid-row: 2;
        grid-column: 1;
        flex-wrap: wrap;
        gap: 0.25em;

        > span
        {
            padding: 0.125em 0.25em;
            border-radius: var(--corner-radius);
            background-color: var(--disabled-color);
            color: var(--foreground-color);
            cursor: pointer;
            user-select: none;

            &[state="active"]
            {
                background-color: var(--accent-color);
            }

            &[state="negate"]
            {
                background-color: var(--cancel-color);
            }

            &:hover
            {
                background-color: var(--highlight-color);
            }
        }
    }

    > button
    {
        aspect-ratio: 1;
        padding: 0.125em;
    }

    &.searched > button
    {
        *
        {
            color: var(--accent-color);
        }

        &:hover
        {
            *
            {
                color: var(--foreground-color);
            }
        }
    }
}